$color-primary: #1a1a2e;
$color-secondary: #1a1a2e;
$color-ternary: #0f3460;
$color-light: #0f3460;
$color-emphasized: #e94560;

:export {
    colorPrimary: $color-primary;
    colorSecondary: $color-secondary;
    colorTernary: $color-ternary;
    colorLight: $color-light;
    colorEmphasized: $color-emphasized;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
