$color-primary: #1a1a2e;
$color-secondary: #1a1a2e;
$color-ternary: #0f3460;
$color-light: #0f3460;
$color-white: #cccccc;
$color-emphasized: #e94560;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $color-primary;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
    color: $color-white;
}
